
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/Style/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Style/slide.css">
    <link rel="stylesheet" href="~/owl.carousel.min.css">
    <link rel="stylesheet" href="~/owl.theme.default.min.css">


</head>
<body>
    
    <div style="display: flex; border-top: 1px solid #e4d9d9; border-bottom: 1px solid #e4d9d9; " class="row">
        <div style="border:none;" class=" cart-column ">
            <table style="width: 100%; border-collapse: separate; border-spacing: 0 20px;">
                <tbody>
                    <tr style=" border: 1px solid rgb(206, 206, 206); border-radius: 10%; ">
                        <th style=" padding: 10px 10px 10px 0;width:54px; font-weight: unset;">Mã số</th>
                        <th style="text-align: center;padding: 10px; font-weight: unset;">Sản phẩm</th>
                        <th style="text-align: center; padding: 10px;width:77px; font-weight: unset;">Đơn giá</th>
                        <th style="text-align: center; padding: 10px; font-weight: unset;">Số lượng</th>
                        <th style="text-align: center; padding: 10px; font-weight: unset;">Cập nhật</th>
                        <th style="text-align: center; padding: 10px;width:150px; font-weight: unset;">Thành tiền</th>
                    </tr>

                    <tr class="cart-item">
                        <form method="post"></form>
                        <td>
                            <div style="margin-right: 40px; text-align: center; color: rgb(1, 70, 134); ">IP01</div>
                        </td>
                        <td>

                            <a style="text-decoration:none;color:#000;" href="#">
                                <div style="display: flex; align-items: center;justify-content: center; width: 253px;">
                                    <img style="width: 150px;height: 100px;" src="/Image/iphone-13-mini-hong-5.jpg" alt="">
                                </div>
                            </a>
                        </td>
                        <td>

                            <div style="text-align: center; color: rgb(1, 70, 134);width: 100px; ">20.000.000 đ </div>
                        </td>


                        <td>
                            <input type="hidden" value="" name="idPro" />
                            <input class="form-control" value="" name="cartQuantity" style="margin-left:30px;text-align: center; width: 60% !important; border: 1px solid #808080; border-radius: 4px;" type="number" min="1" max="50" />
                        </td>
                        <td>
                            <input type="submit" value="Cập Nhật" />
                        </td>

                        <td>
                            <div style="text-align: center; color: rgb(1, 70, 134); ">20.000.000 đ</div>
                        </td>
                        <td>
                            <a data-id="25.491.500 ₫" class="btn btn-sm  btnDelete" href="/ShoppingCart/RemoveCart/">
                                <i style="color: rgb(241, 241, 128);font-size: 24px;" class="fa-solid fa-trash"></i>
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div style="margin-bottom:20px;" class="col-lg-3">

            <div style="border: 1px solid rgb(224, 224, 224); margin-top: 17px; padding: 10px; border-radius: 10px;">
                <div style=" margin: 14px auto;">
                    <span style="float: left;">Số lượng sản phẩm</span>
                    <span style="float: right; ">1</span>

                </div>
                <hr style="display:block;width: 100%;margin-top: 50px;margin-bottom: 40px;">
                <div style="">
                    <span style="float: left;">Tổng tiền</span>
                    <span name="tongtien" style="float: right; font-weight: bold; font-size: large; color: rgb(1, 70, 134); ">20.000.000 đ</span>
                </div>
                <button class="add_to_cart_btn" action="/" style="margin: 15px auto 21px;width: 100%;" method="post">
                    <span>Thanh toán</span>
                </button>
            </div>

        </div>
    </div>
    
</body>
</html>


